<h1 class="fw-bold text-secondary text-center"><%= t(:enemy)%></h1>
<div class="list-group text-center">
	<% if @enemies.empty? %>
		<h3><%= t(:"character.empty")%></h3>
	<% else %>
		<% @enemies.each do |enemy|  %>
			<%= link_to enemy.name, character_path(enemy), class: "list-group-item list-group-item-action", data: {turbo: false} %>
		<% end %>
	<% end %>
</div>

<%= button_to t(:new), characters_path(category: "Enemy"), class:"btn btn-success position-fixed bottom-0 end-0 m-4", method: :post, data: {turbo: false} %>
