<h1>Enemy</h1>
<br>

<% if @enemies.empty? %>
	<h3>Has no enemy.</h3>
<% else %>
	<ul>
		<% @enemies.each do |enemy|  %>
			<li>
				<%= link_to enemy.name, character_path(enemy) %>
			</li>
		<% end %>
	</ul>
<% end %>

<br>

<%= button_to "New", characters_path(category: "Enemy"), method: :post %>
