<span data-popover-target="popover-<%= @name %>">
  <%= content %>
</span>
<div data-popover id="popover-<%= @name %>" role="tooltip" class="inline-block absolute invisible z-10 w-64 text-sm font-light text-gray-500 bg-white rounded-lg border border-gray-200 shadow-sm opacity-0 transition-opacity duration-300 dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800">
  <div class="py-2 px-3">
    <p>
      <%= @content_popover %>
    </p>
  </div>
  <div data-popper-arrow></div>
</div>
