<nav class="fixed z-10">
  <div class="px-3 w-screen md:w-10 md:h-screen md:pb-16 mm:bg-rose-800 mm:dark:bg-rose-800 md:bg-transparent md:dark:bg-transparent">
    <div class="flex md:flex-col justify-around md:px-1 md:h-full py-1 mm:text-black md:text-gray-500" id="main-menu" data-turbo="false">
      <a href="#basics">
        <svg href-spy="#basics" class="menu-item w-7 h-7 fill-rose-500 hover:fill-rose-300 dark:hover:fill-rose-300 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path fill="none" d="M0 0h24v24H0z"/><path d="M4 22a8 8 0 1 1 16 0H4zm8-9c-3.315 0-6-2.685-6-6s2.685-6 6-6 6 2.685 6 6-2.685 6-6 6z"/></svg>
      </a>
      <a href="#statistics">
        <svg href-spy="#statistics" class="menu-item w-7 h-7 hover:fill-rose-300 dark:hover:fill-rose-300 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path fill="none" d="M0 0h24v24H0z"/><path d="M14 10v4h-4v-4h4zm2 0h5v4h-5v-4zm-2 11h-4v-5h4v5zm2 0v-5h5v4a1 1 0 0 1-1 1h-4zM14 3v5h-4V3h4zm2 0h4a1 1 0 0 1 1 1v4h-5V3zm-8 7v4H3v-4h5zm0 11H4a1 1 0 0 1-1-1v-4h5v5zM8 3v5H3V4a1 1 0 0 1 1-1h4z"/></svg>
      </a>
      <a href="#equipament">
        <svg href-spy="#equipament" class="menu-item w-7 h-7 hover:fill-rose-300 dark:hover:fill-rose-300 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path fill="none" d="M0 0h24v24H0z"/><path d="M9 4V3a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v1h3a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V5a1 1 0 0 1 1-1h3z"/></svg>
      </a>
      <a href="#defense">
        <svg href-spy="#defense" class="menu-item w-7 h-7 hover:fill-rose-300 dark:hover:fill-rose-300 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path fill="none" d="M0 0h24v24H0z"/><path d="M3.783 2.826L12 1l8.217 1.826a1 1 0 0 1 .783.976v9.987a6 6 0 0 1-2.672 4.992L12 23l-6.328-4.219A6 6 0 0 1 3 13.79V3.802a1 1 0 0 1 .783-.976z"/></svg>
      </a>
      <a href="#offense">
        <svg href-spy="#offense" class="menu-item w-7 h-7 hover:fill-rose-300 dark:hover:fill-rose-300 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path fill="none" d="M0 0h24v24H0z"/><path d="M7.05 13.406l3.534 3.536-1.413 1.414 1.415 1.415-1.414 1.414-2.475-2.475-2.829 2.829-1.414-1.414 2.829-2.83-2.475-2.474 1.414-1.414 1.414 1.413 1.413-1.414zM3 3l3.546.003 11.817 11.818 1.415-1.414 1.414 1.414-2.474 2.475 2.828 2.829-1.414 1.414-2.829-2.829-2.475 2.475-1.414-1.414 1.414-1.415L3.003 6.531 3 3zm14.457 0L21 3.003l.002 3.523-4.053 4.052-3.536-3.535L17.457 3z"/></svg>
      </a>
      <a href="#skills">
        <svg href-spy="#skills" class="menu-item w-7 h-7 hover:fill-rose-300 dark:hover:fill-rose-300 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path fill="none" d="M0 0h24v24H0z"/><path d="M13 10v4h6v-4h-6zm-2 0H5v4h6v-4zm2 9h6v-3h-6v3zm-2 0v-3H5v3h6zm2-14v3h6V5h-6zm-2 0H5v3h6V5zM4 3h16a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1z"/></svg>
      </a>
      <a href="#spells">
        <svg href-spy="#spells" class="menu-item w-7 h-7 hover:fill-rose-300 dark:hover:fill-rose-300 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path fill="none" d="M0 0h24v24H0z"/><path d="M12 23a7.5 7.5 0 0 1-5.138-12.963C8.204 8.774 11.5 6.5 11 1.5c6 4 9 8 3 14 1 0 2.5 0 5-2.47.27.773.5 1.604.5 2.47A7.5 7.5 0 0 1 12 23z"/></svg>
      </a>
      <a href="#notes">
        <svg href-spy="#notes" class="menu-item w-7 h-7 hover:fill-rose-300 dark:hover:fill-rose-300 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path fill="none" d="M0 0h24v24H0z"/><path d="M21 9v11.993A1 1 0 0 1 20.007 22H3.993A.993.993 0 0 1 3 21.008V2.992C3 2.455 3.447 2 3.998 2H14v6a1 1 0 0 0 1 1h6zm0-2h-5V2.003L21 7zM8 7v2h3V7H8zm0 4v2h8v-2H8zm0 4v2h8v-2H8z"/></svg>
      </a>
    </div>
  </div>
</nav>
