<%= render(CardComponent.new(
  title: "skills",
  svg: "M13 10v4h6v-4h-6zm-2 0H5v4h6v-4zm2 9h6v-3h-6v3zm-2 0v-3H5v3h6zm2-14v3h6V5h-6zm-2 0H5v3h6V5zM4 3h16a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1z",
  tabs: ["skills"]
)) do %>
  <div id="skillsTabContent">
    <%= render(CardTabComponent.new(tab: "skills", hidden: false)) do %>
      <%= render(Form::BoxComponent.new(title: "Skills",
        main_id: "body-skills",
        item_id: "skills-",
        form: @form,
        fields_for: :pathfinder_skills,
        add: {
          class_div: add_item,
          data: {
            "action":"click->edit-character--item#add",
            "edit-character--item-count-param": @character.pathfinder_skills.count,
            "edit-character--item-name-param":"skills"
          }
        },
        forms: [
          {flex: [
            {
              name: :name,
              type: :text
            },
            {
              removable: true,
              data: {
                "action":"click->edit-character--item#remove",
                "edit-character--item-id-param": true,
                "edit-character--item-name-param":"skills"
              },
              class_div: delete_item,
            }
          ]},
          {flex: [
            {
              name: :key_ability,
              type: :select,
              array: abilities
            },
            {
              name: :proficiency,
              type: :select,
              array: proficiencies
            },
            {
              name: :item,
              type: :number
            },
            {
              name: :armor,
              type: :number
            }
          ]},
          {grid: [
            {
              name: :note,
              type: :area,
              class_div: "mm:col-span-2 md:col-span-3"
            }
          ]}
        ]
      ))%>
    <% end %>
  </div>
<% end %>
