<h1 class="fw-bold text-secondary text-center">Gm</h1>
<div class="list-group text-center">
		<%= link_to "Npcs", npcs_path, class: "list-group-item list-group-item-action" %>
		<%= link_to "Enemies", enemies_path, class: "list-group-item list-group-item-action" %>
		<%= link_to "Adventures", adventures_path, class: "list-group-item list-group-item-action" %>
</div>