<div id="basics" class="scrollspy md:mb-10 md:rounded-lg drop-shadow-lg bg-gray-100 dark:bg-zinc-800">
  <div class="p-2 flex bg-rose-800 md:rounded-t-lg">
    <svg class="menu-item w-7 h-7 fill-gray-200" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path fill="none" d="M0 0h24v24H0z"/><path d="M4 22a8 8 0 1 1 16 0H4zm8-9c-3.315 0-6-2.685-6-6s2.685-6 6-6 6 2.685 6 6-2.685 6-6 6z"/></svg>
    <h1 class="ml-3 text-lg text-gray-200">
      Basics
    </h1>
  </div>
  <div class="md:py-3">
    <div class="flex flex-col md:flex-row">
      <div class="flex justify-center md:basis-64 relative w-full h-64">
        <%= image_tag @character.character_image, class: "absolute -top-3 md:-top-0 md:-left-6 rounded-full drop-shadow-lg w-64 h-64 bg-white" if @character.character_image.attached? %>
      </div>
      <div class="space-y-6 p-6 md:p-0 flex-1">
        <h1 id="character-name" class="md:mt-6 text-3xl">
          <%= @character.pathfinder_basic.name %>
        </h1>
        <h2 class="text-2xl">
          Class and Level
        </h2>
        <div class="flex space-x-4">
          <div>
            <h3 class="italic text-rose-700 dark:text-rose-500">
              Initiative
            </h3>
            <span class="pl-3">
              +20
            </span>
          </div>
          <p class="h-max-2 w-0.5 bg-gray-500 opacity-50 rotate-12"></p>
          <div>
            <h3 class="italic text-rose-700 dark:text-rose-500">
              Perception
            </h3>
            <span class="pl-3">
              +20
            </span>
          </div>
          <p class="h-max-2 w-0.5 bg-gray-500 opacity-50 rotate-12"></p>
          <div>
            <h3 class="italic text-rose-700 dark:text-rose-500">
              Land Speed
            </h3>
            <span class="pl-2">
              20 ft
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="p-6 flex flex-wrap gap-3">
    <div class="flex mb-6 gap-3">
      <div>
        <h3 class="italic text-rose-700 dark:text-rose-500">
          Alignment
        </h3>
        <span class="pl-3">
          bla
        </span>
      </div>
      <p class="-max-2 w-0.5 bg-gray-500 opacity-50 rotate-12"></p>
    </div>
    <div class="flex mb-6 gap-3">
      <div>
        <h3 class="italic text-rose-700 dark:text-rose-500">
          Size
        </h3>
        <span class="pl-3">
          +20
        </span>
      </div>
      <p class="-max-2 w-0.5 bg-gray-500 opacity-50 rotate-12"></p>
    </div>
    <div class="flex mb-6 gap-3">
      <div>
        <h3 class="italic text-rose-700 dark:text-rose-500">
          Race
        </h3>
        <span class="pl-2">
          20 ft
        </span>
      </div>
      <p class="-max-2 w-0.5 bg-gray-500 opacity-50 rotate-12"></p>
    </div>
    <div class="flex mb-6 gap-3">
      <div>
        <h3 class="italic text-rose-700 dark:text-rose-500">
          Gender
        </h3>
        <span class="pl-2">
          20 ft
        </span>
      </div>
      <p class="-max-2 w-0.5 bg-gray-500 opacity-50 rotate-12"></p>
    </div>
    <div class="flex mb-6 gap-3">
      <div>
        <h3 class="italic text-rose-700 dark:text-rose-500">
          Age
        </h3>
        <span class="pl-2">
          20 ft
        </span>
      </div>
      <p class="-max-2 w-0.5 bg-gray-500 opacity-50 rotate-12"></p>
    </div>
    <div class="flex mb-6 gap-3">
      <div>
        <h3 class="italic text-rose-700 dark:text-rose-500">
          Height
        </h3>
        <span class="pl-2">
          20 ft
        </span>
      </div>
      <p class="-max-2 w-0.5 bg-gray-500 opacity-50 rotate-12"></p>
    </div>
    <div class="flex mb-6 gap-3">
      <div>
        <h3 class="italic text-rose-700 dark:text-rose-500">
          Weight
        </h3>
        <span class="pl-2">
          20 ft
        </span>
      </div>
      <p class="-max-2 w-0.5 bg-gray-500 opacity-50 rotate-12"></p>
    </div>
    <div class="flex mb-6 gap-3">
      <div>
        <h3 class="italic text-rose-700 dark:text-rose-500">
          Hero Points
        </h3>
        <span class="pl-2">
          20 ft
        </span>
      </div>
      <p class="-max-2 w-0.5 bg-gray-500 opacity-50 rotate-12"></p>
    </div>
    <div class="flex mb-6 gap-3">
      <div>
        <h3 class="italic text-rose-700 dark:text-rose-500">
          EXP
        </h3>
        <span class="pl-2">
          20 ft
        </span>
      </div>
    </div>
  </div>
</div>