<div id="defense" class="scrollspy md:mb-10 md:rounded-lg drop-shadow-lg bg-gray-100 dark:bg-zinc-800">
  <div class="p-2 flex bg-rose-800 md:rounded-t-lg">
    <svg class="menu-item w-7 h-7 fill-gray-200" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
      <path fill="none" d="M0 0h24v24H0z" />
      <path d="M3.783 2.826L12 1l8.217 1.826a1 1 0 0 1 .783.976v9.987a6 6 0 0 1-2.672 4.992L12 23l-6.328-4.219A6 6 0 0 1 3 13.79V3.802a1 1 0 0 1 .783-.976z" /></svg>
    <h1 class="ml-3 text-lg text-gray-200">
      Defense
    </h1>
  </div>
  <!--  -->
  <div class="relative w-full bg-gray-200 h-2.5 mt-2 dark:bg-gray-700">
    <div class="absolute bg-red-700 h-2.5 dark:bg-red-800" style="width: 80%"></div>
    <div class="absolute bg-yellow-300 h-2.5 dark:bg-yellow-500" style="width: 45%"></div>
  </div>
  <div class="px-6 py-3 flex flex-wrap gap-6">
    <div class="flex mb-6 gap-6">
      <div>
        <h3 class="italic text-rose-700 dark:text-rose-500">
          HP
        </h3>
        <span class="text-2xl pl-3">
          18/20
        </span>
      </div>
      <p class="h-max-2 w-0.5 bg-gray-500 opacity-50 rotate-12"></p>
    </div>
    <div class="flex mb-6 gap-6">
      <div>
        <h3 class="italic text-rose-700 dark:text-rose-500">
          Temp HP
        </h3>
        <span class="text-2xl pl-3">
          8
        </span>
      </div>
      <p class="h-max-2 w-0.5 bg-gray-500 opacity-50 rotate-12"></p>
    </div>
    <div class="flex mb-6 gap-6">
      <div>
        <h3 class="italic text-rose-700 dark:text-rose-500">
          AC
        </h3>
        <span class="text-2xl pl-3">
          20
        </span>
      </div>
    </div>
  </div>
  <!--  -->
  <div class="px-6 py-3 space-y-3 flex flex-col w-72">
    <div class="inline-flex rounded-md shadow-sm" role="group">
      <button type="button" class="py-2 px-4 text-sm font-medium text-gray-900 bg-white rounded-l-lg border border-zinc-200 hover:bg-zinc-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-zinc-700 dark:border-zinc-600 dark:text-white dark:hover:text-white dark:hover:bg-zinc-600 dark:focus:ring-blue-500 dark:focus:text-white">
        -
      </button>
      <input type="number" class="rounded-none bg-gray-50 border text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-32 text-sm border-gray-300 p-2.5  dark:bg-transparent dark:border-zinc-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="HP">

      <button type="button" class="py-2 px-4 text-sm font-medium text-gray-900 bg-white border-t border-b border-zinc-200 hover:bg-zinc-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-zinc-700 dark:border-zinc-600 dark:text-white dark:hover:text-white dark:hover:bg-zinc-600 dark:focus:ring-blue-500 dark:focus:text-white">
        +
      </button>

    <button type="button" class="py-2 px-4 text-sm font-medium text-gray-900 bg-white rounded-r-md border border-zinc-200 hover:bg-zinc-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-zinc-700 dark:border-zinc-600 dark:text-white dark:hover:text-white dark:hover:bg-zinc-600 dark:focus:ring-blue-500 dark:focus:text-white">
      Apply
    </button>
  </div>
    <div class="inline-flex rounded-md shadow-sm" role="group">
      <button type="button" class="py-2 px-4 text-sm font-medium text-gray-900 bg-white rounded-l-lg border border-zinc-200 hover:bg-zinc-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-zinc-700 dark:border-zinc-600 dark:text-white dark:hover:text-white dark:hover:bg-zinc-600 dark:focus:ring-blue-500 dark:focus:text-white">
        -
      </button>
      <input type="number" class="rounded-none bg-gray-50 border text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-32 text-sm border-gray-300 p-2.5  dark:bg-transparent dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Temp HP">

      <button type="button" class="py-2 px-4 text-sm font-medium text-gray-900 bg-white border-b border-t border-zinc-200 hover:bg-zinc-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-zinc-700 dark:border-zinc-600 dark:text-white dark:hover:text-white dark:hover:bg-zinc-600 dark:focus:ring-blue-500 dark:focus:text-white">
        +
      </button>
      <button type="button" class="py-2 px-4 text-sm font-medium text-gray-900 bg-white rounded-r-md border border-zinc-200 hover:bg-zinc-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-zinc-700 dark:border-zinc-600 dark:text-white dark:hover:text-white dark:hover:bg-zinc-600 dark:focus:ring-blue-500 dark:focus:text-white">
      Apply
    </button>
    </div>
  </div>
  <!--  -->
  <div class="px-6 py-3 flex flex-wrap gap-6">
    <div class="flex mb-6 gap-6">
      <div>
        <h3 class="italic text-rose-700 dark:text-rose-500">
          Fortitude
        </h3>
        <span class="text-2xl pl-3">
          18
        </span>
      </div>
      <p class="h-max-2 w-0.5 bg-gray-500 opacity-50 rotate-12"></p>
    </div>
    <div class="flex mb-6 gap-6">
      <div>
        <h3 class="italic text-rose-700 dark:text-rose-500">
          Reflex
        </h3>
        <span class="text-2xl pl-3">
          8
        </span>
      </div>
      <p class="h-max-2 w-0.5 bg-gray-500 opacity-50 rotate-12"></p>
    </div>
    <div class="flex mb-6 gap-6">
      <div>
        <h3 class="italic text-rose-700 dark:text-rose-500">
          Will
        </h3>
        <span class="text-2xl pl-3">
          20
        </span>
      </div>
    </div>
  </div>
  <!--  -->
  <div class="px-6 pb-6">
    <h3 class="italic text-rose-700 dark:text-rose-500">
      Notes
    </h3>
    <p class="pl-3">
      Immune to magic sleep effects. +2 saving throw against enchantment spells and effects.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>
</div>