<div id="skill" class="scrollspy md:mb-10 md:rounded-lg drop-shadow-lg bg-gray-100 dark:bg-zinc-800">
  <div class="p-2 flex bg-rose-800 md:rounded-t-lg">
    <svg class="menu-item w-7 h-7 fill-gray-200" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
      <path fill="none" d="M0 0h24v24H0z" />
      <path d="M13 10v4h6v-4h-6zm-2 0H5v4h6v-4zm2 9h6v-3h-6v3zm-2 0v-3H5v3h6zm2-14v3h6V5h-6zm-2 0H5v3h6V5zM4 3h16a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1z" /></svg>
    <h1 class="ml-3 text-lg text-gray-200">
      Skills
    </h1>
  </div>
  <!--  -->
  <div class="p-6 w-full">
    <div class="grid mm:grid-cols-2 md:grid-cols-3 gap-4 w-full">
      <div class="cursor-pointer hover:bg-rose-300/50 hover:dark:bg-rose-700/30 flex justify-between border-b-2 border-gray-300 dark:border-gray-500">
        <p>
          Arcane Bondssssss dsa dasd as
        </p>
        <p>
          +0
        </p>
      </div>
      <div class="cursor-pointer hover:bg-rose-300/50 hover:dark:bg-rose-700/30 flex justify-between border-b-2 border-gray-300 dark:border-gray-500">
        <p>
          Arcane Bondssssss dsa dasd as
        </p>
        <p>
          +0
        </p>
      </div>
      <div class="cursor-pointer hover:bg-rose-300/50 hover:dark:bg-rose-700/30 flex justify-between border-b-2 border-gray-300 dark:border-gray-500">
        <p>
          Arcane School
        </p>
        <p>
          +0
        </p>
      </div>
      <div class="cursor-pointer hover:bg-rose-300/50 hover:dark:bg-rose-700/30 flex justify-between border-b-2 border-gray-300 dark:border-gray-500">
        <p>
          Cantrips
        </p>
        <p>
          +0
        </p>
      </div>
      <div class="cursor-pointer hover:bg-rose-300/50 hover:dark:bg-rose-700/30 flex justify-between border-b-2 border-gray-300 dark:border-gray-500">
        <p>
          Elven Magic
        </p>
        <p>
          +0
        </p>
      </div>
      <div class="cursor-pointer hover:bg-rose-300/50 hover:dark:bg-rose-700/30 flex justify-between border-b-2 border-gray-300 dark:border-gray-500">
        <p>
          Foretell
        </p>
        <p>
          +0
        </p>
      </div>
      <div class="cursor-pointer hover:bg-rose-300/50 hover:dark:bg-rose-700/30 flex justify-between border-b-2 border-gray-300 dark:border-gray-500">
        <p>
          Forewarned
        </p>
        <p>
          +0
        </p>
      </div>
      <div class="cursor-pointer hover:bg-rose-300/50 hover:dark:bg-rose-700/30 flex justify-between border-b-2 border-gray-300 dark:border-gray-500">
        <p>
          Keen Senses
        </p>
        <p>
          +0
        </p>
      </div>
      <div class="cursor-pointer hover:bg-rose-300/50 hover:dark:bg-rose-700/30 flex justify-between border-b-2 border-gray-300 dark:border-gray-500">
        <p>
          Low-Light Vision
        </p>
        <p>
          +0
        </p>
      </div>
      <div class="cursor-pointer hover:bg-rose-300/50 hover:dark:bg-rose-700/30 flex justify-between border-b-2 border-gray-300 dark:border-gray-500">
        <p>
          Scribe Scroll
        </p>
        <p>
          +0
        </p>
      </div>
    </div>
  </div>
</div>