<div class="flex flex-col md:flex-row mm:p-6 mm:space-x-3">
  <div class="flex-none font-bold text-lg text-black w-40 dark:text-white">
    <%= @title %>
  </div>

  <% @forms.each do |form| %>
    <% if form.keys[0] == :grid %>
      <div class="grid mm:grid-cols-2 md:grid-cols-3 gap-4 w-full text-sm text-gray-900">
        <% form[:grid].each do |item| %> 
          <%= render(Form::FieldWithLabelComponent.new(
            form: item[:form],
            name: item[:name],
            surname: item[:surname], 
            read_only: item[:read_only],
            class_div: item[:class_div],
            type: item[:type],
            array: item[:array]
          ))%>
        <% end %>
      </div>
    <% else # Flex %> 
    
    <% end%>
  <% end %>
</div>