<div>
	<label>str score</label>
	<input type="number" name="str_score" id="str_score"><br>
	<label>str modifier</label>
	<input type="number" name="str_modifier" id="str_modifier"><br>
	
	<label>dex score</label>
	<input type="number" name="dex_score" id="dex_score"><br>
	<label>dex modifier</label>
	<input type="number" name="dex_modifier" id="dex_modifier"><br>

	<label>con score</label>
	<input type="number" name="con_score" id="con_score"><br>
	<label>con modifier</label>
	<input type="number" name="con_modifier" id="con_modifier"><br>

	<label>int score</label>
	<input type="number" name="int_score" id="int_score"><br>
	<label>int modifier</label>
	<input type="number" name="int_modifier" id="int_modifier"><br>

	<label>wis score</label>
	<input type="number" name="wis_score" id="wis_score"><br>
	<label>wis modifier</label>
	<input type="number" name="wis_modifier" id="wis_modifier"><br>

	<label>cha score</label>
	<input type="number" name="cha_score" id="cha_score"><br>
	<label>cha modifier</label>
	<input type="number" name="cha_modifier" id="cha_modifier"><br>
</div>

<script>
	var ability_scores_inputs = [
		str_score,
		str_modifier,
		dex_score,
		dex_modifier,
		con_score,
		con_modifier,
		int_score,
		int_modifier,
		wis_score,
		wis_modifier,
		cha_score,
		cha_modifier
	];

	set_input(ability_scores_inputs, "ability_scores");

</script>