<div>
	<label>experience</label>
	<input type="number" name="experience" id="experience"><br>
	<label>ancestry and heritage</label>
	<input type="text" name="ancestry and heritage" id="ancestry_and_heritage"><br>
	<label>background</label>
	<input type="text" name="background" id="background"><br>
	<label>class name</label>
	<input type="text" name="class name" id="class_name"><br>
	<label>size</label>
	<input type="text" name="size" id="size"><br>
	<label>alignment</label>
	<input type="text" name="alignment" id="alignment"><br>
	<label>traits</label>
	<input type="text" name="traits" id="traits"><br>
	<label>deity</label>
	<input type="text" name="deity" id="deity"><br>
	<label>level</label>
	<input type="text" name="level" id="level"><br>
	<label>hero points</label>
	<input type="text" name="hero points" id="hero_points"><br>
</div>

<script>
	var details_inputs = [
		experience,
		ancestry_and_heritage,
		background,
		class_name,
		size,
		alignment,
		traits,
		deity,
		level,
		hero_points
	];

	set_input(details_inputs, "details");

</script>