<!-- <div>
	<h3>Details</h3>

	<label>Name</label>
	<input type="text" id="character_details_name" class="character">

	<label>Class Name</label>
	<input type="text" id="character_details_className" class="character">

	<label>Ancestry</label>
	<input type="text" id="character_details_ancestry" class="character">
</div> -->