<div>
	<label>Max hp</label>
	<input type="number" name="max_hp" id="max_hp"><br>
	<label>current hp</label>
	<input type="number" name="current_hp" id="current_hp"><br>
	<label>temporary</label>
	<input type="number" name="temporary" id="temporary"><br>
</div>

<script>
	var hit_point_inputs = [
		max_hp,
		current_hp,
		temporary
	];

	set_input(hit_point_inputs, "hit_point");
</script>