<nav class="bg-white py-2.5 dark:bg-gray-900 w-full top-0 left-0">
    <div class="container flex flex-wrap justify-between items-center mx-6">
      <button class="py-2.5" type="button" data-controller="flowbite" data-action="flowbite#toggleDrawer" aria-controls="drawer-navigation">
        <div class="space-y-2">
          <span class="block w-8 h-0.5 bg-black dark:bg-gray-400"></span>
          <span class="block w-8 h-0.5 bg-black dark:bg-gray-400"></span>
          <span class="block w-8 h-0.5 bg-black dark:bg-gray-400"></span>
        </div>
      </button>
      <!-- Button Navbar -->
      <%= render partial: "shared/dropdown_characters" if controller_name == "characters" %>
      <%= render partial: "shared/dropdown_adventures" if controller_name == "adventures" %>
      <div class="flex md:order-2">
      </div>
    </div>
  </nav>