<nav class="bg-rose-800 py-2 dark:bg-rose-800 w-full top-0 left-0">
  <div class="container flex flex-wrap justify-between items-center mx-6">
    <button class="py-2.5" type="button" data-action="click->drawer#toggleDrawerLeft" aria-controls="drawer-navigation">
      <div class="space-y-2">
        <span class="block w-8 h-0.5 bg-white"></span>
        <span class="block w-8 h-0.5 bg-white"></span>
        <span class="block w-8 h-0.5 bg-white"></span>
      </div>
    </button>
    <!-- Button Navbar -->
    <%= render(Dropdown::NavbarComponent.new(
      name: "character",
      model: @character,
      collection: @characters_dropdown,
      show_path: method(:character_path),
      new_path: method(:new_character_path),
      edit_path: method(:edit_character_path),
      delete_path: method(:character_path)
    )) if ["show", "edit"].include?(action_name) && controller_name == "characters" %>
    <%= render(Dropdown::NavbarComponent.new(
      name: "character",
      model: @character,
      collection: @characters_dropdown,
      show_path: method(:npc_path),
      new_path: method(:new_npc_path),
      edit_path: method(:edit_npc_path),
      delete_path: method(:npc_path)
    )) if ["show", "edit"].include?(action_name) && controller_name == "npcs" %>
    <%= render(Dropdown::NavbarComponent.new(
      name: "character",
      model: @character,
      collection: @characters_dropdown,
      show_path: method(:enemy_path),
      new_path: method(:new_enemy_path),
      edit_path: method(:edit_enemy_path),
      delete_path: method(:enemy_path)
    )) if ["show", "edit"].include?(action_name) && controller_name == "enemies" %>
    <%= render(Dropdown::NavbarComponent.new(
      name: "adventure",
      model: @adventure,
      collection: current_user.adventures,
      show_path: method(:adventure_path),
      new_path: method(:new_adventure_path),
      edit_path: method(:edit_adventure_path),
      delete_path: method(:adventure_path)
    )) if ["show", "edit"].include?(action_name) && controller_name == "adventures" %>
    <div class="flex md:order-2">
    </div>
  </div>
</nav>
