<nav class="bg-rose-800 py-2 dark:bg-rose-800 w-full top-0 left-0">
  <div class="container flex flex-wrap justify-between items-center mx-6">
    <button class="py-2.5" type="button" data-action="click->drawer#toggleDrawerLeft" aria-controls="drawer-navigation">
      <div class="space-y-2">
        <span class="block w-8 h-0.5 bg-white"></span>
        <span class="block w-8 h-0.5 bg-white"></span>
        <span class="block w-8 h-0.5 bg-white"></span>
      </div>
    </button>
    <!-- Button Navbar -->
    <%= yield(:dropdown_navbar) %>
    <div class="flex md:order-2">
    </div>
  </div>
</nav>
