<div class="card my-5">
  <div class="card-header">
    <h4>Inventory</h4>
  </div>
  <div class="card-body">
    <ul class="list-group list-group-flush">
      <% character_json["inventory"].each do |inventory| %>
        <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" role="button">
          <span><%= inventory["name"] %></span>
        </li>
      <% end %>
    </ul>
  </div>
</div>