<h1 class="fw-bold text-secondary text-center"><%= t(:home)%></h1>
<div class="list-group text-center">
		<%= link_to t(:player), characters_path, class: "list-group-item list-group-item-action" %>
		<%= link_to t(:gm), gm_path, class: "list-group-item list-group-item-action" %>
		<%= link_to t(:tv), campaign_tv_path, class: "list-group-item list-group-item-action", data: {turbo: false} %>
</div>