<div class="z-0 pt-8 pb-96 md:pt-0 md:w-10/12 md:mx-auto text-black dark:text-gray-200" data-controller="channels--adventure">
  <%#= render partial: "adventures/server" %>

  <%= render partial: "adventures/npc_enemy" %>

  <%#= render partial: "adventures/player" %>
</div>

