<div class="modal fade" id="diceRoller" tabindex="-1" aria-labelledby="diceRollerLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="diceRollerLabel"><%= t("character.dice roller")%></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label class="form-label">Dice theme</label>
          <select class="form-select" id="theme">
            <option value="default">default</option>
            <option value="blueGreenMetal">blueGreenMetal</option>
            <option value="diceOfRolling">diceOfRolling</option>
            <option value="rock">rock</option>
            <option value="rust">rust</option>
            <option value="smooth">smooth</option>
            <option value="wooden">wooden</option>
          </select>
        </div>
        <div class="mb-3">
          <label class="form-label">Dice color</label>
          <input type="color" class="form-control form-control-color" id="color" value="#563d7c">
        </div>
        <div class="input-group mb-3">
          <input id="quantity" type="number" class="form-control" placeholder="Quantity" aria-label="Quantity">
          <select class="form-select" id="dice">
            <option value="d4">d4</option>
            <option value="d6">d6</option>
            <option value="d8">d8</option>
            <option value="d10">d10</option>
            <option value="d12">d12</option>
            <option value="d20">d20</option>
            <option value="d100">d100</option>
          </select>
          <input id="bonus" type="number" class="form-control" placeholder="Bonus" aria-label="Bonus">
        </div>
        <div class="text-end">
          <button class="btn btn-dark" id="diceBtn" disabled>
            Roll
          </button>
        </div>
      </div>
    </div>
  </div>
</div>