<div id="equipament" class="scrollspy md:mb-10 md:rounded-lg drop-shadow-lg bg-gray-100 dark:bg-zinc-800">
  <div class="p-2 flex bg-rose-800 md:rounded-t-lg">
    <svg class="menu-item w-7 h-7 fill-gray-200" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path fill="none" d="M0 0h24v24H0z"/><path d="M9 4V3a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v1h3a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V5a1 1 0 0 1 1-1h3z"/></svg>
    <h1 class="ml-3 text-lg text-gray-200">
      Equipament
    </h1>
  </div>
  <!-- Equipament -->


  <div class="flex flex-col md:flex-row mm:p-6 mm:space-x-3">
    <div class="flex-none font-bold text-lg text-rose-700 w-40 dark:text-rose-500">
      Items
    </div>
    <div class="space-y-3 w-full">
      <div class="grid mm:grid-cols-2 md:grid-cols-3 gap-4 w-full">
        <div class="cursor-pointer hover:bg-rose-300/50 hover:dark:bg-rose-700/30 flex justify-between border-b-2 border-gray-300 dark:border-gray-500">
          <p>
            Arcane Bondssssss dsa dasd as
          </p>
          <p>
            0
          </p>
        </div>
        <div class="cursor-pointer hover:bg-rose-300/50 hover:dark:bg-rose-700/30 flex justify-between border-b-2 border-gray-300 dark:border-gray-500">
          <p>
            Arcane School
          </p>
          <p>
            0
          </p>
        </div>
        <div class="cursor-pointer hover:bg-rose-300/50 hover:dark:bg-rose-700/30 flex justify-between border-b-2 border-gray-300 dark:border-gray-500">
          <p>
            Cantrips
          </p>
          <p>
            0
          </p>
        </div>
        <div class="cursor-pointer hover:bg-rose-300/50 hover:dark:bg-rose-700/30 flex justify-between border-b-2 border-gray-300 dark:border-gray-500">
          <p>
            Elven Magic
          </p>
          <p>
            0
          </p>
        </div>
        <div class="cursor-pointer hover:bg-rose-300/50 hover:dark:bg-rose-700/30 flex justify-between border-b-2 border-gray-300 dark:border-gray-500">
          <p>
            Foretell
          </p>
          <p>
            0
          </p>
        </div>
        <div class="cursor-pointer hover:bg-rose-300/50 hover:dark:bg-rose-700/30 flex justify-between border-b-2 border-gray-300 dark:border-gray-500">
          <p>
            Forewarned
          </p>
          <p>
            0
          </p>
        </div>
        <div class="cursor-pointer hover:bg-rose-300/50 hover:dark:bg-rose-700/30 flex justify-between border-b-2 border-gray-300 dark:border-gray-500">
          <p>
            Keen Senses
          </p>
          <p>
            0
          </p>
        </div>
        <div class="cursor-pointer hover:bg-rose-300/50 hover:dark:bg-rose-700/30 flex justify-between border-b-2 border-gray-300 dark:border-gray-500">
          <p>
            Low-Light Vision
          </p>
          <p>
            0
          </p>
        </div>
        <div class="cursor-pointer hover:bg-rose-300/50 hover:dark:bg-rose-700/30 flex justify-between border-b-2 border-gray-300 dark:border-gray-500">
          <p>
            Scribe Scroll
          </p>
          <p>
            0
          </p>
        </div>
      </div>

      <div class="pt-3">
        <h3 class="italic text-rose-700 dark:text-rose-500">
          Weight
        </h3>
        <span class="pl-3">
          20 <span class="text-gray-600 dark:text-gray-500">lbs</span>
        </span>
      </div>
    </div>
  </div>

  <div class="flex flex-col md:flex-row mm:p-6 mm:space-x-3">
    <div class="flex-none font-bold text-lg text-rose-700 w-40 dark:text-rose-500">
      Wealth
    </div>
    <div class="space-y-3">
      <div class="flex gap-4">
        <div class="flex flex-wrap gap-3">
          <p>
            450 <span class="text-gray-600 dark:text-gray-500">PP</span>
          </p>
          <p class="w-0.5 bg-gray-500 opacity-50 rotate-12"></p>
        </div>

        <div class="flex flex-wrap gap-3">
          <p>
            8,405 <span class="text-gray-600 dark:text-gray-500">GP</span>
          </p>
          <p class="w-0.5 bg-gray-500 opacity-50 rotate-12"></p>
        </div>

        <div class="flex flex-wrap gap-3">
          <p>
            450 <span class="text-gray-600 dark:text-gray-500">SP</span>
          </p>
          <p class="w-0.5 bg-gray-500 opacity-50 rotate-12"></p>
        </div>

        <div class="flex flex-wrap gap-3">
          <p>
            450 <span class="text-gray-600 dark:text-gray-500">CP</span>
          </p>
        </div>
      </div>

      <div class="pt-3">
        <h3 class="italic text-rose-700 dark:text-rose-500">
          Total
        </h3>
        <span class="text-xl pl-3">
          2000 <span class="text-gray-600 dark:text-gray-500">GP</span>
        </span>
      </div>
    </div>
    
  </div>
</div>