<h1>Characters</h1>
<br>

<% if @characters.empty? %>
	<h3>Has no character.</h3>
<% else %>
	<ul>
		<% @characters.each do |character|  %>
			<li>
				<%= link_to character.name, character_path(character) %>
			</li>
		<% end %>
	</ul>
<% end %>

<br>

<%= button_to "New", characters_path(category: "Player"), method: :post %>

