<h1>Npc</h1>
<br>

<% if @npcs.empty? %>
	<h3>Has no npc.</h3>
<% else %>
	<ul>
		<% @npcs.each do |npc|  %>
			<li>
				<%= link_to npc.name, character_path(npc) %>
			</li>
		<% end %>
	</ul>
<% end %>

<br>

<%= link_to "New", new_character_path %>

